<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.knows.saturn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Renren SDK -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SaturnTheme"
        android:name=".SaturnApp"
        >

        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SignupActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.CongratsActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.SchoolPickerActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.RegionPickerActivity"
            android:screenOrientation="portrait"
            />

        <!-- Renren OAuth -->
        <activity android:name="com.renn.rennsdk.oauth.OAuthActivity"
            android:configChanges="orientation|navigation|keyboardHidden"/>
    </application>


</manifest>
